.backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: auto;
    position: fixed;
    transition: opacity 500ms;
    background-color: var(--loader-background);
  }
  .loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .localBackdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: translate(-50%, -50%);
    background-color: var(--local-loader-bg);
  }